[gmc]
exit_on_esc=true
logging_global=20

[mpf]
# Chemin absolu vers ton dossier de projet MPF
game_path="/Users/guillaumebarre/Desktop/BTTF/DEF/BTTF_MINI-PC/GITHUB"

[gmc_cli]
# Exécutable Godot pour le lancement automatique via "mpf both"
godot_executable="/Applications/Godot.app/Contents/MacOS/Godot"
# NOTE POUR LE MINI-PC PLUS TARD : "C:\\Godot\\Godot_v4.6.3-stable_win64.exe"

[sound_system]
music={"type": "solo"}
effects={"type": "simultaneous", "simultaneous_sounds": 3, "default": true}
voice={"type": "sequential"}