[sound_system]
music={"type": "solo"}
effects={"type": "simultaneous", "simultaneous_sounds": 3, "default": true}
voice={"type": "sequential"}
#
# [gmc]
# exit_on_esc=true
# logging_global=20
#
# [mpf]
# game_path="res://"
#
# [gmc_cli]
# godot_executable="/Applications/Godot.app/Contents/MacOS/Godot"
# SUR MAC mettre /Applications/Godot.app/Contents/MacOS/Godot
# SUR MINI-PC mettre C:\Godot\Godot.exe ??????
#
# LA LIGNE ORIGINALE EST effects={"type": "simultaneous", "simultaneous_sounds": 3, "default": true}
